body {
  background-color: rgb(126, 141, 97);

}
  .navTitle {
  font-weight: 950;
  font-size: 60px;
}

.blogBox {
  margin-top: 8px;
  border-style: solid;
  border-radius:10px;
}

.blogTitle {
  
  color: #c3b70d;
}

.blogDescMain {
  font-weight: 700;
}

.blogDescTwo {
  font-size: 25px;
  font-style: italic;
}

.blogCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  padding: 5px;
  color: rgb(197, 190, 88);
}

.blogDesc {
 
  padding: 2px;
  background-color: rgb(223, 240, 194);
  border-style: solid;
  margin-bottom: 5px;
  border-radius:15px;
}

.blogBoxCont {
	margin-top: 9px;
  border-style: solid;
  background-color: rgb(130, 170, 61);
}

.formCont {
  margin-top: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: rgb(113, 143, 62);
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 12px;
  background-color: rgb(113, 143, 62);
}

.commentCont {
  border-style: dashed;
}

.headerRow {
  background-color: rgb(49, 58, 50);
  border-radius:15px;
  margin-bottom: 10px;
}

.login{
	margin-left: 25px;
}

.signup{
	margin-left: 25px;
}

.form-group{
	margin-top: 10px;
}
a:link {
  color: rgb(177, 11, 53);
}
a:visited {
  color: rgb(182, 179, 16);
}

a:hover {
  color: rgb(20, 50, 221);
}

