body {
  background-color: rgb(46, 58, 23);

  background-image:  url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23dde88b' fill-opacity='0.61' fill-rule='evenodd'/%3E%3C/svg%3E");
  
}
  .navTitle {
  font-weight: 1050;
  font-size: xx-large;
}

.blogBox {
  margin-top: 8px;
  border-style: solid;
  border-radius:10px;
}

.blogTitle {
  
  color: #c3b70d;
}

.blogDescMain {
  font-weight: 700;
}

.blogDescTwo {
  font-size: 25px;
  font-style: italic;
}

.blogCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  padding: 5px;
  color: rgb(197, 190, 88);
}

.blogDesc {
 
  padding: 2px;
  background-color: rgb(223, 240, 194);
  border-style: solid;
  margin-bottom: 5px;
  border-radius:15px;
}

.blogBoxCont {
	margin-top: 9px;
  border-style: solid;
  background-color: rgb(130, 170, 61);
}

.formCont {
  margin-top: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: rgb(113, 143, 62);
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 12px;
  background-color: rgb(113, 143, 62);
}

.commentCont {
  border-style: dashed;
}

.headerRow {
  background-color: rgb(49, 48, 48);
  border-radius:15px;
  margin-bottom: 10px;
}

.login{
	margin-left: 25px;
}

.signup{
	margin-left: 25px;
}

.form-group{
	margin-top: 10px;
}
a:link {
  color: rgb(177, 11, 53);
}
a:visited {
  color: rgb(182, 179, 16);
}

a:hover {
  color: rgb(20, 50, 221);
}

